%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        %h2 Centros
        .row
          .col-md-12 
            %table.table.table-striped
              %thead
                %tr
                  %th Centro
                  %th Rut
                  %th Direccion
                  %th
                  %th
                  %th

              %tbody
                - @centers.each do |center|
                  %tr
                    %td= center.nombre_centro
                    %td= center.rut_centro
                    %td= center.dir_centro
                    %td= center.comuna_centro
                    %td= link_to 'Mostrar', center_path(center)
                    %td= link_to 'Editar', edit_center_path(center)
                    %td= link_to 'Eliminar', center_path(center), :method => :delete, :data => { :confirm => 'Esta Seguro?' }

            %br

            = link_to 'Nuevo Centro', new_center_path,:class => "btn btn-warning"
            = link_to "Volver",'/',:class => "btn btn-warning"