= javascript_include_tag "//www.google.com/jsapi", "chartkick" 

.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Informes mensuales
      .panel-body

        .row
          %br  
          .col-md-4.text-center
            .form-inline
              = label_tag :filter_center, "CENTRO"
              = select_tag :filter_center, options_for_select(OwnerCenter.for_select(current_user.id), @nombre_centro), prompt: @nombre_centro,class: "form-control" 
          .col-md-8.text-center
            %h4= "Usuario: #{current_user.email}"
            %h4
              Centros
              %span.badge= current_user.owner_centers.count
        

        .row    
          %hr      
          %br
          .col-md-4.text-center
            %h1= "#{@nombre_centro}"
            %p= "Rut Centro: #{@rut_centro}"
          .col-md-8.text-center
            %h4= "Venta Acumulada Mes en Curso"
            %h2= number_to_currency(@vta_total_mes, separator: ",", delimiter: ".", precision: 0) 

        %hr    
        %br
        %br
        %h3 Venta Producto Total Mes en Curso  
        .row
          .col-md-12.text-center
            = pie_chart @vta_producto_mes

        %h3 Venta Total Diaria Mes en Curso    
        .row
          .col-md-12.text-center
            = line_chart @vta_diaria_total  

        .row
          .col-md-2
          .col-md-8.text-center
            .panel.panel-default
              .panel-body
                %table.table.table-striped
                  %thead
                    %tr
                      %th Fecha
                      %th Total Venta
                  %tbody
                    - @array_vta_diaria_total.each do |venta|
                      %tr
                        %td= venta["date"]  
                        %td= number_to_currency(venta["sum"], separator: ",", delimiter: ".", precision: 0)           
        %br
        %br
        %h3 Venta Producto Diaria Mes en Curso     
        .row
          .col-md-12.text-center
            = line_chart @vta_diaria_item
        %br
        %br
        %h3 Venta Producto Comparativa, Ultimos 12 Meses     
        .row
          .col-md-12.text-center
            = line_chart @vta_anual_item 
        %br
        %br
        %h3 Origen de Venta Total, Ultimos 12 Meses    
        .row
          .col-md-12.text-center
            = line_chart @vta_origen_anual


        %br
        %br
        %h3 Venta mes, acumulativo diario, Ultimos 12 Meses    
        .row
          .col-md-12.text-center
            = line_chart @vta_mes_anual
        %br
        %br
        %h3 Venta Total Ultimos 12 Meses    
        .row
          .col-md-12.text-center
            = column_chart @vta_origen_anual2
        %br
        %br
        %h3 Venta Total Ultimos 12 Meses    
        .row
          .col-md-12.text-center
            = line_chart @vta_anual

        .row
          .col-md-2
          .col-md-8.text-center
            .panel.panel-default
              .panel-body
                %table.table.table-striped
                  %thead
                    %tr
                      %th Fecha
                      %th Total Venta
                  %tbody
                    - @array_vta_anual.each do |venta|
                      %tr
                        %td= venta["date"]  
                        %td= number_to_currency(venta["sum"], separator: ",", delimiter: ".", precision: 0)    



