%h1 Listing owner_centers

%table
  %thead
    %tr
      %th User
      %th Rut centro
      %th
      %th
      %th

  %tbody
    - @owner_centers.each do |owner_center|
      %tr
        %td= owner_center.user
        %td= owner_center.rut_centro
        %td= link_to 'Show', owner_center
        %td= link_to 'Edit', edit_owner_center_path(owner_center)
        %td= link_to 'Destroy', owner_center, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Owner center', new_owner_center_path
