%p#notice= notice

%p
  %b User:
  = @owner_center.user
%p
  %b Rut centro:
  = @owner_center.rut_centro

= link_to 'Edit', edit_owner_center_path(@owner_center)
\|
= link_to 'Back', owner_centers_path
